<template>
<b-card
  class="mb-2 w-100"
>
  <b-card-text>
    <b-input-group class="mt-3">
      <template v-slot:prepend>
        <b-input-group-text>Условие {{ index + 1 }}</b-input-group-text>
      </template>
      <b-form-select
        v-model="selected"
        @change="changeCondition"
        :options="types"
      >
        <template v-slot:first>
          <option :value="null">Вид условия</option>
        </template>
      </b-form-select>
      <template v-slot:append>
        <b-button @click="$emit('remove')" variant="outline-danger">- Удалить условие</b-button>
      </template>
    </b-input-group>
    <component v-if="selected" @input="addParams" :is="optionsTypes[selected].type" :label="optionsTypes[selected].label" :options="optionsTypes[selected].options" />
  </b-card-text>
</b-card>
</template>
<script>
export default {
  name: 'app-condition',
  props: {
    index: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      selected: '',
      types: { 'age': 'Возвраст', 'type_cart': 'Тип карты лояльности', 'status': 'Статус'},
      optionsTypes: {
        age: {
          type: 'app-range',
          label: 'Возвраст',
          options: null
        },
        type_cart: {
          type: 'app-select',
          label: 'Тип карты лояльности',
          options: {
            type_cart_1: 'Type cart 1',
            type_cart_2: 'Type cart 2',
            type_cart_3: 'Type cart 3',
          }
        },
        status: {
          type: 'app-select',
          label: 'Статус',
          options: {
            status_1: 'Status 1',
            status_2: 'Status 2',
            status_3: 'Status 3',
          }
        }
      },
      params: []
    }
  },
  methods: {
    changeCondition () {
      this.params = {
        [this.selected]: []
      }
    },
    addParams (e) {
      this.params[this.selected] = e
      this.$emit('input', this.params)
    }
  },
}
</script>
