<template>
<div>
  <b-row v-for="(item, index) in items" :key="index">
    <b-col cols="1">{{ index > 0 ? 'И' : '' }}</b-col>
    <b-col>
      <b-input-group class="mt-3">
        <template v-slot:prepend>
          <b-input-group-text>от</b-input-group-text>
        </template>
        <b-form-input v-model="items[index].from"></b-form-input>
      </b-input-group>
    </b-col>
    <b-col>
      <b-input-group class="mt-3">
        <template v-slot:prepend>
          <b-input-group-text>до</b-input-group-text>
        </template>
        <b-form-input v-model="items[index].to"></b-form-input>
      </b-input-group>
    </b-col>
    <b-col class="mt-3">
      <b-button v-if="index > 0" @click="removeRange(index)" variant="outline-danger">-</b-button>
    </b-col>
  </b-row>
  <b-button @click="addRange" class="mt-3" variant="outline-success">+</b-button>
</div>
</template>
<script>
export default {
  name: 'app-range',
  data () {
    return {
      items: [
        {
          from: '',
          to: ''
        }
      ]
    }
  },
  methods: {
    addRange () {
      this.items.push({
        from: '',
        to: ''
      })
    },
    removeRange (index) {
      this.items.splice(index, 1)
    }
  },
  watch: {
    items: {
      handler (bef) {
        this.$emit('input', bef)
      },
      deep: true
    }
  }
}
</script>
