<template>
<div>
  <b-row v-for="(item, index) in items" :key="index">
    <b-col cols="1">{{ index > 0 ? 'И' : '' }}</b-col>
    <b-col cols="8">
      <b-input-group class="mt-3">
        <template v-slot:prepend>
          <b-input-group-text>{{ label }} {{ index + 1 }}</b-input-group-text>
        </template>

        <b-form-select
          v-model="items[index]"
          :options="options"
        >
          <template v-slot:first>
            <option :value="null">.......</option>
          </template>
        </b-form-select>
      </b-input-group>
    </b-col>
    <b-col class="mt-3">
      <b-button v-if="index > 0" @click="removeRange(index)" variant="outline-danger">-</b-button>
    </b-col>
  </b-row>
  <b-button @click="addRange" class="mt-3" variant="outline-success">+</b-button>
</div>
</template>
<script>
export default {
  name: 'app-range',
  props: {
    label: {
      type: String,
      default: ''
    },
    options: {
      type: Object,
      default () {
        return null
      }
    }
  },
  data () {
    return {
      items: ['']
    }
  },
  methods: {
    addRange () {
      this.items.push('')
    },
    removeRange (index) {
      this.items.splice(index, 1)
    }
  },
  watch: {
    items: {
      handler (bef) {
        this.$emit('input', bef)
      },
      deep: true
    }
  }
}
</script>
