<template>
  <section class="container pt-5 pb-5">
    <div class="row">
      <div class="col">
        <b-card
          title="Добавить опрос"
          tag="article"
          class="mb-2 w-100">
          <b-card-text>
            <b-form @submit.prevent="onSubmit">
              <component v-model="form[index]" v-for="(item, index) in form" :key="index" :index="index" @remove="removeCondition(index)" :is="'app-condition'" />
              <b-button @click="addCondition" variant="outline-success" class="mt-5 mb-5" block size="lg">+<br /> Добавить условие</b-button>
              <div class="d-flex justify-content-between">
                <b-button type="submit" class="mt-3" variant="outline-primary">Проверить</b-button>
                <b-button class="mt-3" variant="primary">Далее</b-button>
              </div>
            </b-form>
          </b-card-text>
        </b-card>
        <b-card
          v-if="form.length || null"
          title="Data"
          tag="article"
          class="mb-2 w-100">
          <b-card-text>
            <pre>{{ form }}</pre>
          </b-card-text>
        </b-card>
        </div>
    </div>
  </section>
</template>

<script>
export default {
  data () {
    return {
      form: [],
    }
  },
  methods: {
    addCondition () {
      this.form.push({})
    },
    removeCondition (index) {
      this.form.splice(index, 1)
    },
    onSubmit () {
      console.log(this.form)
    }
  },
}
</script>
